@font-face {
  font-family: "GeistBlack";
  src: url("../assets/fonts/Geist-Black.otf") format("opentype");
}

@font-face {
  font-family: "GeistBole";
  src: url("../assets/fonts/Geist-Bold.otf") format("opentype");
}

@font-face {
  font-family: "GeistLight";
  src: url("../assets/fonts/Geist-Light.otf") format("opentype");
}

@font-face {
  font-family: "GeistMedium";
  src: url("../assets/fonts/Geist-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GeistRegular";
  src: url("../assets/fonts/Geist-Regular.otf") format("opentype");
}

@font-face {
  font-family: "GeistSemiBold";
  src: url("../assets/fonts/Geist-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "GeistThin";
  src: url("../assets/fonts/Geist-Thin.otf") format("opentype");
}

@font-face {
  font-family: "GeistUltraBlack";
  src: url("../assets/fonts/Geist-UltraBlack.otf") format("opentype");
}

@font-face {
  font-family: "GeistUltraLight";
  src: url("../assets/fonts/Geist-UltraLight.otf") format("opentype");
}
